<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All stocks
    </h1>

    <a href="/stocks/new" class="btn btn-block btn-outline-secondary">
      Add a new stock
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "stock_templates/stocks_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Ticker
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @stocks.each do |stock| %>
      <tr>
        <td>
          <%= stock.id %>
        </td>

        <td>
          <%= stock.ticker %>
        </td>

        <td>
          <%= time_ago_in_words(stock.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(stock.updated_at) %> ago
        </td>

        <td>
          <a href="/stocks/<%= stock.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @stocks, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
