<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Stock #<%= @stock.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/stocks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/stocks/<%= @stock.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit stock
        </a>
      </div>

      <div class="col">
        <a href="/delete_stock/<%= @stock.id %>" class="btn btn-block btn-outline-secondary">
          Delete stock
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Ticker
      </dt>
      <dd>
        <%= @stock.ticker %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@stock.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@stock.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "stock_templates/stock_follows" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "stock_templates/stock_comments" %>
  </div>
</div>
