<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Upvote #<%= @upvote.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/upvotes" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @upvote.user %>
          <a href="/upvotes/<%= @upvote.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit upvote
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @upvote.user %>
          <a href="/delete_upvote/<%= @upvote.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete upvote
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @upvote.user.present? %>
          <a href="/users/<%= @upvote.user_id %>">
            <%= @upvote.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>
        Stock
      </dt>
      <dd>
        <% if @upvote.photo.present? %>
          <a href="/stocks/<%= @upvote.stock_id %>">
            <%= @upvote.photo.caption %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@upvote.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@upvote.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

